@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tohc-header-item {
    @apply text-[#071e55] font-title  text-[17px] font-[600] py-[10px] px-[15px] hover:text-redpage transition-all ease-in-out duration-[600] bg-white;
}

.tohc-header-expanded {
    @apply absolute top-[72px] w-[100vw] left-[calc(-50vw+50%)] text-center z-50 animate-slideDown bg-white;
}
.header__altertive-block{
    @apply h-[92px] w-full flex;
}


.tohc-button {
    @apply rounded-[23px] border-solid  border-[0.8px] font-title text-[17px] font-[600] leading-[30px] 
    py-[9px] px-[18px] mr-[15px] ml-[10px] mt-[15px] lg:mt-[0px] border-redpage text-white bg-redpage
    hover:bg-white hover:text-redpage transition-all ease-in-out duration-500;
}

.header__scroll{
    @apply fixed top-0 left-0;
}

.home__main-form-name{
    @apply bg-[#f9f9f9] border-[#f1f1f1] rounded-[5px] border-solid flex items-center h-[52px] mb-[25px] leading-[24px] 
    py-[1px] pl-[18.25px] pr-[40.15px];
}
.home__main-form-name:focus-within {
    @apply border-solid border-[2px] border-[black];
}
.home__main-form-name-input {
    @apply focus:outline-none bg-[#f9f9f9];
}
.home__main-form__animation{
    @apply transition-all animate-showAndScale;
}

.discover__img__animation{
    @apply translate-x-[0];
}
.customize-bg{
    @apply bg-[#fff];
}
.customize-img1{
    @apply bg-[url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/about2.jpg')] bg-cover bg-no-repeat;
}
.customize-img2{
    @apply bg-[url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/about5.jpg')] bg-cover bg-no-repeat bg-center;
}
.customize-img3{
    @apply bg-[url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/about1.jpg')] bg-cover bg-no-repeat bg-right;
}
.portfolio__overlay{
    @apply bg-[#e52f37] absolute inset-0 border-[22px] border-gray-200 opacity-80; 
}
.portfolio__overlay-icon{
    @apply  absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-[40px] text-white;
}
.portfolio__animation{
    @apply opacity-100;
}

.member__item{
    @apply bg-white rounded-[8px] text-[#212529] leading-6 text-center pb-[30px] w-[350px] lg:w-[310px] xl:w-[350px] ;
}
.member__item-img{
    @apply w-[350px] h-[350px] lg:w-[310px] lg:h-[280px] xl:w-[350px] xl:h-[350px] rounded-t-[8px] leading-6 ;
}
.member__item-name{
    @apply text-[#454545] font-title text-[18px] font-[700] leading-[21.6px] mt-[20px] mb-[1px] text-center; 
}
.member__item-pos{
    @apply text-[#acacac] font-text text-[17px] leading-[28px] mb-[50px] text-center relative
    after:absolute  after:w-[60px] after:h-[5px] after:bg-red-600 after:bottom-[-30px] after:left-[50%] after:translate-x-[-50%]; 
}
.member__item-detail{
    @apply text-[#7c8595] font-text text-[17px] leading-[28px] mb-[20px] text-center max-w-[300px] mx-auto; 
}
.feature__item{
    @apply w-[80%] lg:w-[374px];
}
.price__animation1{
    @apply animate-showAndScalePrice1;
}
.price__animation2{
    @apply animate-showAndScalePrice2;
}   
.delay-1000 { 
    animation-delay: 500ms; 
}
.contact__input-item{
    @apply w-[500px] md:w-[270px] lg:w-[350px] h-[56px] placeholder:text-white border-white rounded-[5px] border-solid border-[1px] text-white  leading-6 mb-[15px] py-[1px] px-[7px] bg-inherit outline-none;
}
.contact__input-item__last{
    @apply w-[500px] h-[56px] md:w-[556px] lg:w-[716px] md:h-[120px] placeholder:text-white border-white rounded-[5px] border-solid border-[1px] text-white  leading-6 mb-[15px] py-[1px] px-[7px] bg-inherit outline-none;
}