@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bottom-\[-1px\]{
  bottom: -1px;
}

.left-\[-2px\]{
  left: -2px;
}

.left-\[calc\(-50vw\+50\%\)\]{
  left: calc(-50vw + 50%);
}

.right-\[-10px\]{
  right: -10px;
}

.top-\[-1px\]{
  top: -1px;
}

.z-0{
  z-index: 0;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.z-50{
  z-index: 50;
}

.col-span-1{
  grid-column: span 1 / span 1;
}

.m-\[10px\]{
  margin: 10px;
}

.mx-\[15px\]{
  margin-left: 15px;
  margin-right: 15px;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-\[10px\]{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-\[100px\]{
  margin-bottom: 100px;
}

.mb-\[10px\]{
  margin-bottom: 10px;
}

.mb-\[15px\]{
  margin-bottom: 15px;
}

.mb-\[20px\]{
  margin-bottom: 20px;
}

.mb-\[25px\]{
  margin-bottom: 25px;
}

.mb-\[30px\]{
  margin-bottom: 30px;
}

.mb-\[35px\]{
  margin-bottom: 35px;
}

.mb-\[40px\]{
  margin-bottom: 40px;
}

.mb-\[45px\]{
  margin-bottom: 45px;
}

.mb-\[50px\]{
  margin-bottom: 50px;
}

.mb-\[5px\]{
  margin-bottom: 5px;
}

.mb-\[60px\]{
  margin-bottom: 60px;
}

.mb-\[7px\]{
  margin-bottom: 7px;
}

.mb-\[8px\]{
  margin-bottom: 8px;
}

.ml-\[-20px\]{
  margin-left: -20px;
}

.ml-\[15px\]{
  margin-left: 15px;
}

.ml-\[20px\]{
  margin-left: 20px;
}

.ml-\[30px\]{
  margin-left: 30px;
}

.mr-\[-10px\]{
  margin-right: -10px;
}

.mr-\[1px\]{
  margin-right: 1px;
}

.mr-\[20px\]{
  margin-right: 20px;
}

.mr-\[25px\]{
  margin-right: 25px;
}

.mr-\[30px\]{
  margin-right: 30px;
}

.mr-\[50px\]{
  margin-right: 50px;
}

.mr-\[5px\]{
  margin-right: 5px;
}

.mt-\[100px\]{
  margin-top: 100px;
}

.mt-\[10px\]{
  margin-top: 10px;
}

.mt-\[15px\]{
  margin-top: 15px;
}

.mt-\[1px\]{
  margin-top: 1px;
}

.mt-\[20px\]{
  margin-top: 20px;
}

.mt-\[30px\]{
  margin-top: 30px;
}

.mt-\[40px\]{
  margin-top: 40px;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-\[1000px\]{
  height: 1000px;
}

.h-\[109px\]{
  height: 109px;
}

.h-\[1107px\]{
  height: 1107px;
}

.h-\[115px\]{
  height: 115px;
}

.h-\[225px\]{
  height: 225px;
}

.h-\[280px\]{
  height: 280px;
}

.h-\[300px\]{
  height: 300px;
}

.h-\[402px\]{
  height: 402px;
}

.h-\[450px\]{
  height: 450px;
}

.h-\[456px\]{
  height: 456px;
}

.h-\[458px\]{
  height: 458px;
}

.h-\[460px\]{
  height: 460px;
}

.h-\[461px\]{
  height: 461px;
}

.h-\[486px\]{
  height: 486px;
}

.h-\[506px\]{
  height: 506px;
}

.h-\[55px\]{
  height: 55px;
}

.h-\[60px\]{
  height: 60px;
}

.h-\[65px\]{
  height: 65px;
}

.h-\[76px\]{
  height: 76px;
}

.h-\[80px\]{
  height: 80px;
}

.h-\[850px\]{
  height: 850px;
}

.h-\[92px\]{
  height: 92px;
}

.h-\[98px\]{
  height: 98px;
}

.h-full{
  height: 100%;
}

.w-\[100\%\]{
  width: 100%;
}

.w-\[100vw\]{
  width: 100vw;
}

.w-\[1140px\]{
  width: 1140px;
}

.w-\[1240px\]{
  width: 1240px;
}

.w-\[271px\]{
  width: 271px;
}

.w-\[280px\]{
  width: 280px;
}

.w-\[300px\]{
  width: 300px;
}

.w-\[350px\]{
  width: 350px;
}

.w-\[445px\]{
  width: 445px;
}

.w-\[475px\]{
  width: 475px;
}

.w-\[48\%\]{
  width: 48%;
}

.w-\[480px\]{
  width: 480px;
}

.w-\[520px\]{
  width: 520px;
}

.w-\[525px\]{
  width: 525px;
}

.w-\[550px\]{
  width: 550px;
}

.w-\[600px\]{
  width: 600px;
}

.w-\[60px\]{
  width: 60px;
}

.w-\[635px\]{
  width: 635px;
}

.w-\[65px\]{
  width: 65px;
}

.w-\[76px\]{
  width: 76px;
}

.w-\[80px\]{
  width: 80px;
}

.w-\[90\%\]{
  width: 90%;
}

.w-\[900px\]{
  width: 900px;
}

.w-full{
  width: 100%;
}

.max-w-\[1140px\]{
  max-width: 1140px;
}

.max-w-\[38\%\]{
  max-width: 38%;
}

.max-w-\[380px\]{
  max-width: 380px;
}

.max-w-\[540px\]{
  max-width: 540px;
}

.max-w-\[570px\]{
  max-width: 570px;
}

.grow{
  flex-grow: 1;
}

.basis-2\/6{
  flex-basis: 33.333333%;
}

.basis-4\/6{
  flex-basis: 66.666667%;
}

.translate-x-\[-100vw\]{
  --tw-translate-x: -100vw;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-50px\]{
  --tw-translate-y: -50px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-90{
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.select-none{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize{
  resize: both;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 2.5rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-4{
  gap: 1rem;
}

.gap-\[10px\]{
  gap: 10px;
}

.gap-\[15px\]{
  gap: 15px;
}

.gap-\[20px\]{
  gap: 20px;
}

.gap-\[40px\]{
  gap: 40px;
}

.gap-\[5px\]{
  gap: 5px;
}

.gap-\[6\%\]{
  gap: 6%;
}

.gap-\[80px\]{
  gap: 80px;
}

.gap-x-0{
  -moz-column-gap: 0px;
       column-gap: 0px;
}

.gap-y-\[40px\]{
  row-gap: 40px;
}

.overflow-y-hidden{
  overflow-y: hidden;
}

.rounded-\[10px\]{
  border-radius: 10px;
}

.rounded-\[20px\]{
  border-radius: 20px;
}

.rounded-\[23px\]{
  border-radius: 23px;
}

.rounded-\[24px\]{
  border-radius: 24px;
}

.rounded-\[3px\]{
  border-radius: 3px;
}

.rounded-\[50\%\]{
  border-radius: 50%;
}

.rounded-\[8px\]{
  border-radius: 8px;
}

.rounded-sm{
  border-radius: 0.125rem;
}

.border-\[0\.4px\]{
  border-width: 0.4px;
}

.border-\[0\.889px\]{
  border-width: 0.889px;
}

.border-\[1\.2px\]{
  border-width: 1.2px;
}

.border-\[1px\]{
  border-width: 1px;
}

.border-\[2px\]{
  border-width: 2px;
}

.border-solid{
  border-style: solid;
}

.border-\[\#\#eaeaea\]{
  border-color: ##eaeaea;
}

.border-\[\#dde9fb\]{
  --tw-border-opacity: 1;
  border-color: rgb(221 233 251 / var(--tw-border-opacity, 1));
}

.border-red-600{
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity, 1));
}

.border-redpage{
  --tw-border-opacity: 1;
  border-color: rgb(229 47 55 / var(--tw-border-opacity, 1));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#1e90ff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(30 144 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#27b36a\]{
  --tw-bg-opacity: 1;
  background-color: rgb(39 179 106 / var(--tw-bg-opacity, 1));
}

.bg-\[\#e52f37\]{
  --tw-bg-opacity: 1;
  background-color: rgb(229 47 55 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f1faff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(241 250 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f9f9f9\]{
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity, 1));
}

.bg-\[\#fcfcfc\]{
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity, 1));
}

.bg-\[rgba\(229\2c 47\2c 56\2c 0\.94\)\]{
  background-color: rgba(229,47,56,0.94);
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(\'https\:\/\/demo\.epic-webdesign\.com\/tf-launchpage\/v1\/images\/bg0\.jpg\'\)\]{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg0.jpg');
}

.bg-\[url\(\'https\:\/\/demo\.epic-webdesign\.com\/tf-launchpage\/v1\/images\/bg3\.jpg\'\)\]{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg3.jpg');
}

.bg-\[url\(\'https\:\/\/demo\.epic-webdesign\.com\/tf-launchpage\/v1\/images\/gallery1\.jpg\'\)\]{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/gallery1.jpg');
}

.bg-\[url\(\'https\:\/\/demo\.epic-webdesign\.com\/tf-launchpage\/v1\/images\/gallery2\.jpg\'\)\]{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/gallery2.jpg');
}

.bg-\[url\(\'https\:\/\/demo\.epic-webdesign\.com\/tf-launchpage\/v1\/images\/gallery3\.jpg\'\)\]{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/gallery3.jpg');
}

.bg-\[url\(\'https\:\/\/demo\.epic-webdesign\.com\/tf-launchpage\/v1\/images\/gallery4\.jpg\'\)\]{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/gallery4.jpg');
}

.bg-\[url\(\'https\:\/\/demo\.epic-webdesign\.com\/tf-launchpage\/v1\/images\/gallery5\.jpg\'\)\]{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/gallery5.jpg');
}

.bg-cover{
  background-size: cover;
}

.bg-fixed{
  background-attachment: fixed;
}

.bg-center{
  background-position: center;
}

.bg-left-top{
  background-position: left top;
}

.bg-top{
  background-position: top;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-\[16px\]{
  padding: 16px;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[20px\]{
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[24px\]{
  padding-left: 24px;
  padding-right: 24px;
}

.px-\[25px\]{
  padding-left: 25px;
  padding-right: 25px;
}

.px-\[30px\]{
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[8px\]{
  padding-left: 8px;
  padding-right: 8px;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-28{
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-\[14px\]{
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[15px\]{
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[16px\]{
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-\[20px\]{
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[50px\]{
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[5px\]{
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-\[8px\]{
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-\[90px\]{
  padding-top: 90px;
  padding-bottom: 90px;
}

.pb-20{
  padding-bottom: 5rem;
}

.pb-\[100px\]{
  padding-bottom: 100px;
}

.pb-\[10px\]{
  padding-bottom: 10px;
}

.pb-\[120px\]{
  padding-bottom: 120px;
}

.pb-\[30px\]{
  padding-bottom: 30px;
}

.pb-\[50px\]{
  padding-bottom: 50px;
}

.pb-\[5px\]{
  padding-bottom: 5px;
}

.pl-\[5px\]{
  padding-left: 5px;
}

.pr-\[5px\]{
  padding-right: 5px;
}

.pt-10{
  padding-top: 2.5rem;
}

.pt-\[100px\]{
  padding-top: 100px;
}

.pt-\[10px\]{
  padding-top: 10px;
}

.pt-\[20px\]{
  padding-top: 20px;
}

.pt-\[40px\]{
  padding-top: 40px;
}

.pt-\[90px\]{
  padding-top: 90px;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.font-text{
  font-family: Open Sans, sans-serif;
}

.font-title{
  font-family: Nunito, sans-serif;
}

.text-\[14px\]{
  font-size: 14px;
}

.text-\[17px\]{
  font-size: 17px;
}

.text-\[18px\]{
  font-size: 18px;
}

.text-\[20px\]{
  font-size: 20px;
}

.text-\[21px\]{
  font-size: 21px;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[26px\]{
  font-size: 26px;
}

.text-\[28px\]{
  font-size: 28px;
}

.text-\[30px\]{
  font-size: 30px;
}

.text-\[32px\]{
  font-size: 32px;
}

.text-\[38px\]{
  font-size: 38px;
}

.text-\[40px\]{
  font-size: 40px;
}

.text-\[45px\]{
  font-size: 45px;
}

.text-\[50px\]{
  font-size: 50px;
}

.text-\[70px\]{
  font-size: 70px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-\[500\]{
  font-weight: 500;
}

.font-\[600\]{
  font-weight: 600;
}

.font-\[650\]{
  font-weight: 650;
}

.font-\[700\]{
  font-weight: 700;
}

.font-\[900\]{
  font-weight: 900;
}

.font-bold{
  font-weight: 700;
}

.uppercase{
  text-transform: uppercase;
}

.leading-6{
  line-height: 1.5rem;
}

.leading-7{
  line-height: 1.75rem;
}

.leading-\[17px\]{
  line-height: 17px;
}

.leading-\[18px\]{
  line-height: 18px;
}

.leading-\[21px\]{
  line-height: 21px;
}

.leading-\[22px\]{
  line-height: 22px;
}

.leading-\[24px\]{
  line-height: 24px;
}

.leading-\[25\.2px\]{
  line-height: 25.2px;
}

.leading-\[26\.4px\]{
  line-height: 26.4px;
}

.leading-\[26px\]{
  line-height: 26px;
}

.leading-\[28px\]{
  line-height: 28px;
}

.leading-\[30px\]{
  line-height: 30px;
}

.leading-\[38\.4px\]{
  line-height: 38.4px;
}

.leading-\[40px\]{
  line-height: 40px;
}

.leading-\[45\.6px\]{
  line-height: 45.6px;
}

.leading-\[45px\]{
  line-height: 45px;
}

.leading-\[46px\]{
  line-height: 46px;
}

.leading-\[50px\]{
  line-height: 50px;
}

.leading-\[60px\]{
  line-height: 60px;
}

.leading-\[70px\]{
  line-height: 70px;
}

.leading-\[80px\]{
  line-height: 80px;
}

.tracking-\[1px\]{
  letter-spacing: 1px;
}

.text-\[\#017df7\]{
  --tw-text-opacity: 1;
  color: rgb(1 125 247 / var(--tw-text-opacity, 1));
}

.text-\[\#0190ff\]{
  --tw-text-opacity: 1;
  color: rgb(1 144 255 / var(--tw-text-opacity, 1));
}

.text-\[\#071e55\]{
  --tw-text-opacity: 1;
  color: rgb(7 30 85 / var(--tw-text-opacity, 1));
}

.text-\[\#1e90ff\]{
  --tw-text-opacity: 1;
  color: rgb(30 144 255 / var(--tw-text-opacity, 1));
}

.text-\[\#212121\]{
  --tw-text-opacity: 1;
  color: rgb(33 33 33 / var(--tw-text-opacity, 1));
}

.text-\[\#212529\]{
  --tw-text-opacity: 1;
  color: rgb(33 37 41 / var(--tw-text-opacity, 1));
}

.text-\[\#27b36a\]{
  --tw-text-opacity: 1;
  color: rgb(39 179 106 / var(--tw-text-opacity, 1));
}

.text-\[\#292929\]{
  --tw-text-opacity: 1;
  color: rgb(41 41 41 / var(--tw-text-opacity, 1));
}

.text-\[\#3473b8\]{
  --tw-text-opacity: 1;
  color: rgb(52 115 184 / var(--tw-text-opacity, 1));
}

.text-\[\#3b5998\]{
  --tw-text-opacity: 1;
  color: rgb(59 89 152 / var(--tw-text-opacity, 1));
}

.text-\[\#454545\]{
  --tw-text-opacity: 1;
  color: rgb(69 69 69 / var(--tw-text-opacity, 1));
}

.text-\[\#50a0d2\]{
  --tw-text-opacity: 1;
  color: rgb(80 160 210 / var(--tw-text-opacity, 1));
}

.text-\[\#555\]{
  --tw-text-opacity: 1;
  color: rgb(85 85 85 / var(--tw-text-opacity, 1));
}

.text-\[\#6a6a6a\]{
  --tw-text-opacity: 1;
  color: rgb(106 106 106 / var(--tw-text-opacity, 1));
}

.text-\[\#7c8595\]{
  --tw-text-opacity: 1;
  color: rgb(124 133 149 / var(--tw-text-opacity, 1));
}

.text-\[\#858585\]{
  --tw-text-opacity: 1;
  color: rgb(133 133 133 / var(--tw-text-opacity, 1));
}

.text-\[\#87ac34\]{
  --tw-text-opacity: 1;
  color: rgb(135 172 52 / var(--tw-text-opacity, 1));
}

.text-\[\#8a3ab9\]{
  --tw-text-opacity: 1;
  color: rgb(138 58 185 / var(--tw-text-opacity, 1));
}

.text-\[\#a9d129\]{
  --tw-text-opacity: 1;
  color: rgb(169 209 41 / var(--tw-text-opacity, 1));
}

.text-\[\#c92228\]{
  --tw-text-opacity: 1;
  color: rgb(201 34 40 / var(--tw-text-opacity, 1));
}

.text-\[\#dd4343\]{
  --tw-text-opacity: 1;
  color: rgb(221 67 67 / var(--tw-text-opacity, 1));
}

.text-\[\#e52a3d\]{
  --tw-text-opacity: 1;
  color: rgb(229 42 61 / var(--tw-text-opacity, 1));
}

.text-\[\#e52f36\]{
  --tw-text-opacity: 1;
  color: rgb(229 47 54 / var(--tw-text-opacity, 1));
}

.text-\[\#e52f37\]{
  --tw-text-opacity: 1;
  color: rgb(229 47 55 / var(--tw-text-opacity, 1));
}

.text-\[\#fc6a3b\]{
  --tw-text-opacity: 1;
  color: rgb(252 106 59 / var(--tw-text-opacity, 1));
}

.text-\[\#fe9c24\]{
  --tw-text-opacity: 1;
  color: rgb(254 156 36 / var(--tw-text-opacity, 1));
}

.text-\[\#fff\]{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-redpage{
  --tw-text-opacity: 1;
  color: rgb(229 47 55 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-yellow-400{
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity, 1));
}

.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.opacity-0{
  opacity: 0;
}

.opacity-100{
  opacity: 1;
}

.opacity-40{
  opacity: 0.4;
}

.opacity-55{
  opacity: 0.55;
}

.opacity-90{
  opacity: 0.9;
}

.shadow-custom{
  --tw-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  --tw-shadow-colored: 0px 2px 8px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_5px_15px_rgba\(0\2c 0\2c 0\2c 0\.35\)\]{
  --tw-shadow: 0px 5px 15px rgba(0,0,0,0.35);
  --tw-shadow-colored: 0px 5px 15px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-1000{
  transition-delay: 1000ms;
}

.duration-1000{
  transition-duration: 1000ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-700{
  transition-duration: 700ms;
}

.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-linear{
  transition-timing-function: linear;
}

.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.text-shadow-md{
  text-shadow: 0px 1px 2px rgb(30 29 39 / 19%), 1px 2px 4px rgb(54 64 147 / 18%);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.tohc-header-item{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Nunito, sans-serif;
  font-size: 17px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(7 30 85 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-duration: 150ms;
  transition-duration: 600;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tohc-header-item:hover{
  --tw-text-opacity: 1;
  color: rgb(229 47 55 / var(--tw-text-opacity, 1));
}

.tohc-header-expanded{
  position: absolute;
  top: 72px;
  left: calc(-50vw + 50%);
  z-index: 50;
  width: 100vw;
}

@keyframes slideDown{
  0%{
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(0);
  }
}

.tohc-header-expanded{
  animation: slideDown .5s ease-in-out;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  text-align: center;
}

.header__altertive-block{
  display: flex;
  height: 92px;
  width: 100%;
}

.tohc-button{
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 23px;
  border-width: 0.8px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(229 47 55 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(229 47 55 / var(--tw-bg-opacity, 1));
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: Nunito, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tohc-button:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(229 47 55 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px){
  .tohc-button{
    margin-top: 0px;
  }
}

.header__scroll{
  position: fixed;
  top: 0px;
  left: 0px;
}

.home__main-form-name{
  margin-bottom: 25px;
  display: flex;
  height: 52px;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(241 241 241 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity, 1));
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 18.25px;
  padding-right: 40.15px;
  line-height: 24px;
}

.home__main-form-name:focus-within{
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.home__main-form-name-input{
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity, 1));
}

.home__main-form-name-input:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@keyframes showAndScale{
  0%{
    opacity: 0;
    transform: scale(0);
  }

  50%{
    opacity: 1;
    transform: scale(1.1);
  }

  100%{
    opacity: 1;
    transform: scale(0.9);
  }
}

.home__main-form__animation{
  animation: showAndScale 2s ease forwards;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.discover__img__animation{
  --tw-translate-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.customize__item:hover{
  --tw-shadow: 0px 8px 24px rgba(149,157,165,0.2);
  --tw-shadow-colored: 0px 8px 24px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.customize-bg{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-shadow: 0px 8px 24px rgba(149,157,165,0.2);
  --tw-shadow-colored: 0px 8px 24px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.customize-img1{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/about2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.customize-img2{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/about5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.customize-img3{
  background-image: url('https://demo.epic-webdesign.com/tf-launchpage/v1/images/about1.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.portfolio__overlay{
  position: absolute;
  inset: 0px;
  border-width: 22px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(229 47 55 / var(--tw-bg-opacity, 1));
  opacity: 0.8;
}

.portfolio__overlay-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 40px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.portfolio__animation{
  opacity: 1;
}

.member__item{
  width: 350px;
  border-radius: 8px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(33 37 41 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px){
  .member__item{
    width: 310px;
  }
}

@media (min-width: 1280px){
  .member__item{
    width: 350px;
  }
}

.member__item-img{
  height: 350px;
  width: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  line-height: 1.5rem;
}

@media (min-width: 1024px){
  .member__item-img{
    height: 280px;
    width: 310px;
  }
}

@media (min-width: 1280px){
  .member__item-img{
    height: 350px;
    width: 350px;
  }
}

.member__item-name{
  margin-top: 20px;
  margin-bottom: 1px;
  text-align: center;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  --tw-text-opacity: 1;
  color: rgb(69 69 69 / var(--tw-text-opacity, 1));
}

.member__item-pos{
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  line-height: 28px;
  --tw-text-opacity: 1;
  color: rgb(172 172 172 / var(--tw-text-opacity, 1));
}

.member__item-pos::after{
  position: absolute;
  bottom: -30px;
  left: 50%;
  height: 5px;
  width: 60px;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.member__item-detail{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 300px;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  line-height: 28px;
  --tw-text-opacity: 1;
  color: rgb(124 133 149 / var(--tw-text-opacity, 1));
}

.feature__item{
  width: 80%;
}

@media (min-width: 1024px){
  .feature__item{
    width: 374px;
  }
}

@keyframes showAndScalePrice1{
  0%{
    opacity: 0;
    transform: scale(0);
  }

  50%{
    opacity: 1;
    transform: scale(1.1);
  }

  100%{
    opacity: 1;
    transform: scale(0.9);
  }
}

.price__animation1{
  animation: showAndScalePrice1 2s ease forwards;
}

@keyframes showAndScalePrice2{
  0%{
    opacity: 0;
    transform: scale(0);
  }

  50%{
    opacity: 1;
    transform: scale(1.1);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.price__animation2{
  animation: showAndScalePrice2 2s ease forwards;
}

.delay-1000 {
  animation-delay: 500ms;
}

.contact__input-item{
  margin-bottom: 15px;
  height: 56px;
  width: 500px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  background-color: inherit;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contact__input-item::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.contact__input-item::placeholder{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px){
  .contact__input-item{
    width: 270px;
  }
}

@media (min-width: 1024px){
  .contact__input-item{
    width: 350px;
  }
}

.contact__input-item__last{
  margin-bottom: 15px;
  height: 56px;
  width: 500px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  background-color: inherit;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contact__input-item__last::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.contact__input-item__last::placeholder{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px){
  .contact__input-item__last{
    height: 120px;
    width: 556px;
  }
}

@media (min-width: 1024px){
  .contact__input-item__last{
    width: 716px;
  }
}

@keyframes showAndScaleContact{
  0%{
    opacity: 0;
    transform: scale(0);
  }

  50%{
    opacity: 1;
    transform: scale(1.1);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.contact__input-animation{
  animation: showAndScaleContact 2s ease forwards;
}

.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:left-\[-20px\]::before{
  content: var(--tw-content);
  left: -20px;
}

.before\:left-\[0px\]::before{
  content: var(--tw-content);
  left: 0px;
}

.before\:top-0::before{
  content: var(--tw-content);
  top: 0px;
}

.before\:h-\[100\%\]::before{
  content: var(--tw-content);
  height: 100%;
}

.before\:h-\[120px\]::before{
  content: var(--tw-content);
  height: 120px;
}

.before\:h-\[60px\]::before{
  content: var(--tw-content);
  height: 60px;
}

.before\:w-\[1px\]::before{
  content: var(--tw-content);
  width: 1px;
}

.before\:w-\[6px\]::before{
  content: var(--tw-content);
  width: 6px;
}

.before\:bg-gray-300::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}

.before\:bg-green-500::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.before\:content-\[\'\'\]::before{
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:scale-110:hover{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-95:hover{
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-\[\#e52f37\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(229 47 55 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#fff\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:bg-green-500:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.hover\:bg-transparent:hover{
  background-color: transparent;
}

.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#e52f37\]:hover{
  --tw-text-opacity: 1;
  color: rgb(229 47 55 / var(--tw-text-opacity, 1));
}

.hover\:text-\[white\]:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:opacity-100:hover{
  opacity: 1;
}

.hover\:shadow-customButton:hover{
  --tw-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.098);
  --tw-shadow-colored: 0px 8px 40px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-\[0px_54px_55px_rgba\(0\2c 0\2c 0\2c 0\.25\)\2c 0px_-12px_30px_rgba\(0\2c 0\2c 0\2c 0\.12\)\2c 0px_4px_6px_rgba\(0\2c 0\2c 0\2c 0\.12\)\2c 0px_12px_13px_rgba\(0\2c 0\2c 0\2c 0\.17\)\2c 0px_-3px_5px_rgba\(0\2c 0\2c 0\2c 0\.09\)\]:hover{
  --tw-shadow: 0px 54px 55px rgba(0,0,0,0.25),0px -12px 30px rgba(0,0,0,0.12),0px 4px 6px rgba(0,0,0,0.12),0px 12px 13px rgba(0,0,0,0.17),0px -3px 5px rgba(0,0,0,0.09);
  --tw-shadow-colored: 0px 54px 55px var(--tw-shadow-color), 0px -12px 30px var(--tw-shadow-color), 0px 4px 6px var(--tw-shadow-color), 0px 12px 13px var(--tw-shadow-color), 0px -3px 5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 640px){
  .sm\:h-\[220px\]{
    height: 220px;
  }

  .sm\:h-\[500px\]{
    height: 500px;
  }

  .sm\:w-\[570px\]{
    width: 570px;
  }

  .sm\:max-w-\[500px\]{
    max-width: 500px;
  }

  .sm\:translate-y-\[-25px\]{
    --tw-translate-y: -25px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:gap-\[10px\]{
    gap: 10px;
  }
}

@media (min-width: 768px){
  .md\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .md\:mb-0{
    margin-bottom: 0px;
  }

  .md\:h-\[186px\]{
    height: 186px;
  }

  .md\:h-\[220px\]{
    height: 220px;
  }

  .md\:h-\[378px\]{
    height: 378px;
  }

  .md\:h-\[500px\]{
    height: 500px;
  }

  .md\:h-\[700px\]{
    height: 700px;
  }

  .md\:w-\[224px\]{
    width: 224px;
  }

  .md\:w-\[45\%\]{
    width: 45%;
  }

  .md\:max-w-\[700px\]{
    max-width: 700px;
  }

  .md\:translate-y-\[-20px\]{
    --tw-translate-y: -20px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:justify-between{
    justify-content: space-between;
  }

  .md\:gap-\[30px\]{
    gap: 30px;
  }
}

@media (min-width: 1024px){
  .lg\:order-1{
    order: 1;
  }

  .lg\:mb-\[0px\]{
    margin-bottom: 0px;
  }

  .lg\:ml-\[100px\]{
    margin-left: 100px;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:h-\[160px\]{
    height: 160px;
  }

  .lg\:h-\[357px\]{
    height: 357px;
  }

  .lg\:h-\[548px\]{
    height: 548px;
  }

  .lg\:h-\[724px\]{
    height: 724px;
  }

  .lg\:h-\[756px\]{
    height: 756px;
  }

  .lg\:h-\[846px\]{
    height: 846px;
  }

  .lg\:w-\[277px\]{
    width: 277px;
  }

  .lg\:w-\[33\%\]{
    width: 33%;
  }

  .lg\:max-w-\[900px\]{
    max-width: 900px;
  }

  .lg\:translate-y-\[0px\]{
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .lg\:justify-center{
    justify-content: center;
  }

  .lg\:gap-5{
    gap: 1.25rem;
  }

  .lg\:gap-\[40px\]{
    gap: 40px;
  }

  .lg\:gap-\[90px\]{
    gap: 90px;
  }

  .lg\:gap-x-\[9px\]{
    -moz-column-gap: 9px;
         column-gap: 9px;
  }

  .lg\:pb-\[0px\]{
    padding-bottom: 0px;
  }

  .lg\:pt-\[0px\]{
    padding-top: 0px;
  }

  .lg\:text-left{
    text-align: left;
  }
}

@media (min-width: 1280px){
  .xl\:h-\[317px\]{
    height: 317px;
  }

  .xl\:h-\[642px\]{
    height: 642px;
  }

  .xl\:w-\[380px\]{
    width: 380px;
  }

  .xl\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:justify-between{
    justify-content: space-between;
  }
}